.link {
  text-decoration: none;
  color: $dark-grey;
}

.underline {
  display: inline-block;
  &::after {
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    background: darken($color: $primary, $amount: 15%);
    transition: 300ms;
  }

  &:hover::after {
    width: 100%;
  }
}
